<div class="form">
  <section>
    <div class="section-header">Personal Information</div>
    <div class="form__wrapper">
      <label class="" for="">Full Name</label>
      <input class="" type="text" />
    </div>
    <div class="form__wrapper">
      <label for="">Date of Birth</label>
      <input type="text" />
    </div>
    <div class="form__wrapper">
      <label for="">Place of Birth</label>
      <input type="text" />
    </div>
    <div class="form__wrapper">
      <label for="">Gender</label>
      <input type="text" />
    </div>
    <div class="form__wrapper">
      <label for="">Nationality</label>
      <input type="text" />
    </div>
    <div class="form__wrapper">
      <label for="">Marital Status</label>
      <input type="text" />
    </div>
  </section>
  <section>
    <div class="section-header">Family Information</div>
    <div class="form__wrapper">
      <label for="">Grandfather Name</label>
      <input type="text" />
    </div>
    <div class="form__wrapper">
      <label for="">Grandmother Name</label>
      <input type="text" />
    </div>
    <div class="form__wrapper">
      <label for="">Father Name</label>
      <input type="text" />
    </div>
    <div class="form__wrapper">
      <label for="">Mother Name</label>
      <input type="text" />
    </div>
    <div class="form__wrapper">
      <label for="">Brother Name</label>
      <input type="text" />
    </div>
    <div class="form__wrapper">
      <label for="">Sister Name</label>
      <input type="text" />
    </div>
  </section>

  <section>Contact Information</section>
  <section>Identification Information</section>
  <section>Employment Information</section>
  <section>Financial Information</section>
  <section>Health Information</section>
  <section>Additional Information</section>
  <section>Document Uploads</section>
  <section>Declaration and Consent</section>
</div>
